


.nav-item a.dashboard {
background: #E0E7FF 0% 0% no-repeat padding-box;
border-left: 2px solid #2E5BFF;

}
a.nav-link:hover{
background: #E0E7FF 0% 0% no-repeat;
border-left: 2px solid #2E5BFF;


}

.nav-item a.active {

  /* float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent; */
}
 .nav-item a.active:hover {
  border-bottom: 3px solid red;
  background-color: #00C1D4;
  
}
.manu-bar{
    
}

.topnav a.active {
  border-bottom: 3px solid red;
}
div.col-md-1{
    width: 68px;
}

.my-container{
   border: 1px solid #70707091;
   

}
.card1{
background: #2E5BFF 0% 0% no-repeat padding-box;
    
}
.card2{
    background: #F7C137 0% 0% no-repeat padding-box;
    
}
.card3{
    background: #8C54FF 0% 0% no-repeat padding-box
}
.card4{
    background: #00C1D4 0% 0% no-repeat padding-box;
    
}

#body{
    background: #F4F6FC 0% 0% no-repeat padding-box;
}
.feedback{
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
#break{
  border: 1px solid blue;
}

hr{
    border : 1px solid red;
}
.input-group{
    /* padding-left: 113px; */
  
    
}
#text-input{
    border: 0px;
    border-bottom: 2px solid #F4F6FC;
    padding-left: 50px;
    font-size: 10px;

}
.search-icon{
 position:relative;
 z-index:1;
 left: 25px;
 top: 1px;
}
#columns{
    width: 20% !important;
}
#color-circles{
    width:17px;
    height: 17px;
    border-radius: 6px;
}
.table-image{
    width: 50px;
}
.table-body{
    background: #FFFFFF;
}
.table {
  border-collapse: separate;
  border-spacing: 0 7px;
}

th {
  color: white;
}

thead tr th{
color: #BFC5D2;
font-size: 10px;
}
th,
td {
  text-align: center;
  padding: 5px;
}
#call-id{
  color: #BFC5D2;  
}
div button{
     width: 150px;

}
.me-auto{
    font-size: 12px;
    color: #BFC5D2;
    margin-top: 6px;
}
.call-cards{
    /* height: 451.76px; */
}
#average-time{
    height: 100%;
    background-color: white;

}
#pie-chat{
   
}
#feedback{
    background-color: #FFFFFF;
}

 
 @media (max-width: 991px) { 
    .sidebar-sm{
        display:flex;
    }
    .sidebar-md{
        display:none;
    }

} 


 /* Apply styles starting from medium devices and up to extra large devices */


@media (min-width: 992px) { 
    .sidebar-sm{
   display: none
        
    }
  .sidebar-md{
    display:block
  }
}

 @media (min-width: 768px) and (max-width: 992px) { 
    .sidebar-sm{
        padding-left:46px;
    }

 } 



 /* Extra small devices (phones, 600px and down) */
 /* @media only screen and (max-width: 1000px) {
    .call-cards{
        height: 200px;
        padding-bottom: 2px;
        font-size: 12px;
    } */

/* } 
 @media only screen and (max-width: 768px) {
    .call-cards{
        height: 100px;
    }

} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 768px) {
    #call-card
        height:50px;
        font-weight: 40px;
    } */


/* @media only screen and (max-width: 600px) {
  
        #call-cards{
        height:200px;
        font-weight:20px;
        }
    }  */
    
  


