


.nav-item a.active {
background: #E0E7FF 0% 0% no-repeat padding-box;
border-left: 2px solid #2E5BFF;

}
a.nav-link  :hover{
background: #E0E7FF 0% 0% no-repeat;
border-left: 2px solid #2E5BFF;


}

ul.nav{
    margin-top: 70px;
}
div.col-md-1{
    width: 68px;
}

.my-container{
   border: 1px solid #70707091;

}
.card1{
background: #2E5BFF 0% 0% no-repeat padding-box;
    
}
.card2{
    background: #F7C137 0% 0% no-repeat padding-box;
    
}
.card3{
    background: #8C54FF 0% 0% no-repeat padding-box
}
.card4{
    background: #00C1D4 0% 0% no-repeat padding-box;
    
}

div.col-md-11{
    background: #F4F6FC 0% 0% no-repeat padding-box;
}
.feedback{
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
#break{
  border: 1px solid blue;
}

hr{
    border : 1px solid red;
}
.input-group{
    padding-left: 110px;
}
#text-input{
    border: 0px;
    border-bottom: 2px solid #F4F6FC;
    padding-left: 50px;
    font-size: 10px;

}
.search-icon{
 position:relative;
 z-index:1;
 left: 25px;
 top: 1px;
}
#mail{
    margin-left: 22px;
}
#export-but{
    width: 150px;

}
#columns{
    width: 20% !important;
}
#color-circles{
    width:20px;
    height: 20px;
    border-radius: 6px;
}
.table-image{
    width: 50px;
}
.table-body{
    background: #FFFFFF;
}
.table {
  border-collapse: separate;
  border-spacing: 0 7px;
}

th {
  color: white;
}

thead tr th{
color: #BFC5D2;
font-size: 10px;
}
th,
td {
  text-align: center;
  padding: 5px;
}
#call-id{
  color: #BFC5D2;  
}